<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="example-config">
    <Appenders>
    
    
    
     <!-- <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout pattern="[%d{dd MMM yy HH:mm:ss:SSS}] [%p]- %X{referenceNumber} - [%t %l]- %m%n"/>
    </Console> -->
   
    <!-- TODO: Change to somewhere outside the package -->
        <RollingFile name="fileWriter"
                     fileName="/appserver/starlee/config/StarLeeCommunicationService/logs/StarLeeCommunicationService.log"
                     filePattern="/appserver/starlee/config/StarLeeCommunicationService/logs/StarLeeCommunicationService.log.%d{yyyy-MM-dd}.gz">
           <PatternLayout pattern="[%d{dd MMM yy HH:mm:ss:SSS}] [%p] - [%X{appCode}] - [%t %l] - %m%n"/>
            <TimeBasedTriggeringPolicy/>
            <SizeBasedTriggeringPolicy size="1 GB"/>
        </RollingFile>
    </Appenders>
     <Loggers>
    	<Root level="all">
       		<appender-ref ref="fileWriter"/>
       		<appender-ref ref="STDOUT" level="all"/>
    	</Root>
  </Loggers>
</Configuration>
